:root {
  --color-dark-blue: #1f2937;
  --color-white: #f9faf8;
  --color-grey: #e5e7eb;
  --color-action-blue: #3882f6;
}

* {
  margin: 0;
  padding: 0;
}

header,
footer,
.sectionSplash {
  background-color: var(--color-dark-blue);
}

/* h1 {
    color: var(--color-white);
}
h2 {
    color: var(--color-white)
} */

header,
main > section {
  padding: 0 100px;
}

header,
footer {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
}

header {
  align-items: center;
  justify-content: space-between;
  color: var(--color-white);
}
nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
nav > a {
  color: var(--color-grey);
}

.sectionSplash {
  background-color: var(--color-dark-blue);
}

.sectionRandom {
  background-color: var(--color-white);
}

.sectionQuote {
  background-color: var(--color-grey);
}

.sectionCall {
  background-color: var(--color-action-blue);
}

footer {
  color: var(--color-grey);
  align-items: center;
  justify-content: center;
}
